.carousel-item img
{
    opacity: 0.3;
}

.carousel-item p{
    color: #000;
}

.carousel-item h5{
    color: #000;
}

.login-area
{
    width: 60%;
    margin: 0 auto;
    border: #d1d1d1 1px solid;
    border-radius: 10px;
    padding: 4%;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-id
{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.side-menu
{
    padding: 1%;
    height: 90vh;
    width: 30%;
    border-right: 1px solid #DDD;
}

.side-menu h2{
    margin-bottom: 32px;
}

li
{
    list-style-type: none;
    margin: 12px 0;
}

.main-content
{
    width: 68%;
}